page-login {
    .header{
        .toolbar{
          .toolbar-background{
              background-color:transparent;
          }
        }
      }
      .forgot{
          margin:0px;
          color:color($colors,light);
          @include whiteNormal(24px,1);
          display:inline;
      }
  
      .scroll-content {
          overflow: hidden !important;
      }

      input {
        @include placeholder {
           color: color($colors, graycolor) !important;
        }
        
    }

    .text-input::-moz-placeholder {
        color: color($colors, graycolor) !important;
    }
    
    .text-input:-ms-input-placeholder {
        color: color($colors, graycolor) !important;
    }
    
    .text-input::-webkit-input-placeholder {
        color: color($colors, graycolor) !important;
    }
}
