<ion-header class="pro_header">
  <ion-navbar>
    <ion-title>Your Friends List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <br>
  <div padding-horizontal>
      <ion-list padding-horizontal>
          <ion-item *ngFor="let friend of friends" (click)="PrivateChatPage(friend)">
            <ion-avatar item-left>
                <img src="http://res.cloudinary.com/soccerkik/image/upload/v{{friend.friendId.imageVersion}}/{{friend.friendId.userImage}}">
                </ion-avatar>
            <ion-grid>
                <ion-row>
                    <ion-col col>
                        <h5 ion-text color="primary">{{friend.name}}</h5>
                    </ion-col>
                    <ion-col col-auto>
                        <span margin-left ion-text color="dark" *ngIf="!checkIfBlocked(user.blockedUsers, user.blockedBy, friend.name)">
                            Blocked
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
      
          </ion-item>
      </ion-list>
    
</div>
    
    
    
    
</ion-content>
