<ion-header>

  <ion-navbar>
    <ion-title>Your Messages</ion-title>

    <ion-buttons left>
        <button ion-button icon-only (click)="closeModal()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <div *ngFor="let request of msgRequest">
        <ion-item (click)="readMsg(request)" *ngIf="checkIfBlocked(userData.blockedUsers, userData.blockedBy, request.message.sendername)">
            <ion-row class="myrow">
                <ion-col col-2>
                    <ion-avatar item-start *ngIf="addProfilePic(request.user, request.message.sendername)">
                        <img src="{{url}}">
                    </ion-avatar>
                </ion-col>
                <ion-col class="rowCol" col-5>
                    <h2 class="username" *ngIf="request.message.body !== '' ">
                        {{request.message.sendername}}
                    </h2>

                    <ion-col class="msgCol" *ngIf="request.message.body !== '' ">
                        <h4 class="msgCol">
                            <p>
                                {{request.message.body.substr(0, 10)}}...
                            </p>
                                
                        </h4>
                    </ion-col>

                </ion-col>

                <ion-col class="rowCol2" col-5>
                    <ion-col item-end>
                        <h4 item-right class="dateNote">
                            <span>
                                {{GetTime(request.message.createdAt)}}
                            </span>
                        </h4>
                    </ion-col>

                    <ion-col item-end class="unreadCol">
                        <h4 class="unread">
                            <p item-right *ngIf="Increment(msgRequest, request.message.sendername, userData.username) > 0" class="msg">
                                {{Increment(msgRequest, request.message.sendername, userData.username)}}
                            </p>
                        </h4>
                    </ion-col>
                    
                </ion-col>
                
            </ion-row>
        </ion-item>
    </div>
</ion-content>
