<div class="header-image" [style.background-image]="headerImage"></div>
<div class="main-content" text-wrap text-center>
    <div class="circularBtn" (click)="addImage()" ion-button clear>
        <img src="{{userImg}}">
        <img *ngIf="headerImage" [style.background-image]="headerImage">
    </div>

    <h2 *ngIf="username">{{username}}</h2>
    <p *ngIf="city || country">{{city}} &bull; {{country}}</p>
    <p class="profile-description" *ngIf="mantra">{{mantra}}</p>
    <hr>
    <ion-list no-lines>
        <ion-item *ngIf="club">
            <p>Main Club</p>
            <a item-end medium (click)="showClubs()">
                {{club}}
            </a>
        </ion-item>
        <ion-item>
            <p>Favorite Clubs</p>
            <a button ion-button color="primary" item-end medium (click)="showClubs()">
              View
            </a>
        </ion-item>
        <ion-item>
            <p>Favorite Players</p>
            <a button ion-button color="primary" item-end medium (click)="showPlayers()">
              View
            </a>
        </ion-item>
        <ion-item>
            <p>Favorite national teams</p>
            <a button ion-button color="primary" item-end medium (click)="showTeams()">
              View
            </a>
        </ion-item>
    </ion-list>
    
</div>