page-register {
    .header{
        border: none !important;
        .toolbar{
          .toolbar-background{
              background:transparent !important;
          }
        }
        .toolbar-md {
            border: none !important;
        }

        img{
            width: auto !important;
            height: 50px !important;
            text-align:center;
            margin-left: -45px;
            margin-top: 10px;
        }
      }
    .scroll-content {
        overflow: hidden !important;
    }

    .login-button {
        text-transform: none;
        border-radius: 3px !important;
        background: white;
        color: #4aa1f3 !important;
        margin-top: 15px !important;
    }

    .text-input::-moz-placeholder {
        color: color($colors, graycolor) !important;
    }
    
    .text-input:-ms-input-placeholder {
        color: color($colors, graycolor) !important;
    }
    
    .text-input::-webkit-input-placeholder {
        color: color($colors, graycolor) !important;
    }
}
