page-register {
    .scroll-content {
        overflow: hidden !important;
    }

    .text-input::-moz-placeholder {
        color: color($colors, graycolor) !important;
    }
    
    .text-input:-ms-input-placeholder {
        color: color($colors, graycolor) !important;
    }
    
    .text-input::-webkit-input-placeholder {
        color: color($colors, graycolor) !important;
    }
}
