<!-- <ion-list>
    <ion-item class="noResultItem" *ngIf="msgArray.length <= 0 && isComplete">
        <h2 class="noResult">No conversation started.</h2>
    </ion-item>
</ion-list> -->

<div *ngFor="let friend of friends">
    <ion-list>
        <ion-item class="noResultItem" *ngIf="msgArray.length <= 0">
            <h2 class="noResult" text-wrap>
                No active chat. You can send friend request to users from chat rooms.
            </h2>
        </ion-item>
    </ion-list>
    <div *ngFor="let msg of msgArray">
        <div *ngIf="msg.message.sendername === friend.name || msg.message.receivername === friend.name">
            <ion-item *ngIf="checkIfBlocked(user.blockedUsers, user.blockedBy, friend.name)" 
            (click)="PrivateChatPage(friend)">
        
                <ion-row class="myrow">
                    <ion-col col-2>
                        <ion-avatar item-start>
                            <img src="http://res.cloudinary.com/soccerkik/image/upload/v{{friend.friendId.imageVersion}}/{{friend.friendId.userImage}}">
                        </ion-avatar>
                    </ion-col>
                    <ion-col class="rowCol" col-5>
                        <h2 class="username">
                            {{friend.name}}
                        </h2>
        
                        <ion-col class="msgCol">
                            <h4 *ngFor="let msg of msgArray" class="msgCol">
                                <p *ngIf="msg.message.sendername === friend.name || msg.message.receivername === friend.name && msg.message.body !== ''">
                                    <ion-icon name="done-all" class="doneClass" *ngIf="messageRead(msg.msg, friend.name, userName)">
                                    </ion-icon> 
                                    {{msg.message.body.substr(0, 10)}}...
                                </p>
                                    
                            </h4>
                        </ion-col>
        
                    </ion-col>
        
                    <ion-col class="rowCol2" col-5>
                        <ion-col item-end>
                            <h4 *ngFor="let msg of msgArray" item-right class="dateNote">
                                <span *ngIf="msg.message.sendername === friend.name || msg.message.receivername === friend.name">
                                    {{GetTime(msg.message.createdAt)}}
                                </span>
                            </h4>
                        </ion-col>
        
                        <ion-col item-end class="unreadCol">
        
                            <h4 *ngFor="let msg of msgArray" class="unread">
                                <p item-right *ngIf="Increment(msg.msg, friend.name, userName) > 0" class="msg">
                                    {{Increment(msg.msg, friend.name, userName)}}
                                </p>
                            </h4>
                        </ion-col>
                    </ion-col>
                    
                </ion-row>
                
            </ion-item>
        </div>
    </div>
    
</div>



