<ion-header no-border>
    <ion-toolbar no-border transparent>
        <ion-segment [(ngModel)]="userprofile" >
          <ion-segment-button value="overview">
            Overview
          </ion-segment-button>
          <ion-segment-button value="profile">
            Profile
          </ion-segment-button>
          <ion-segment-button value="interest">
            Interest
          </ion-segment-button>
          <ion-segment-button value="account">
            Account
          </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-row>
      <ion-col col-3>
        <button id="notification-button" ion-button clear (click)="openModal()">
            <ion-icon name="notifications">
              <ion-badge id="notifications-badge" *ngIf="requestNum > 0" color="danger">{{requestNum}}</ion-badge>
            </ion-icon>              
        </button>
      </ion-col>
    </ion-row>

  </ion-header>

<ion-content>
  <ion-spinner *ngIf="!isComplete"></ion-spinner>
  <div [ngSwitch]="userprofile" *ngIf="isComplete">
    <ion-list *ngSwitchCase="'overview'">
      <userinfo></userinfo>
    </ion-list>

    <ion-list *ngSwitchCase="'profile'">
      <updateprofile></updateprofile>
    </ion-list>

    <ion-list *ngSwitchCase="'interest'">
      <interest></interest>
    </ion-list>

    <ion-list *ngSwitchCase="'account'">
      <account user btnArray></account>
    </ion-list>

  </div>

</ion-content>
