updateprofile {
    ion-input{
        font-size: 14px;
    }

    ion-textarea{
        font-size: 14px;
    }

    ion-select{
        font-size: 14px;
    }

    #charLeft{
        color: red;
        padding-right: 5px !important;
    }
}
