<ion-header no-border>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="chatrooms">
    <ion-segment-button value="clubs">
      Clubs
    </ion-segment-button>
    <ion-segment-button value="countries">
      Countries
    </ion-segment-button>
    <ion-segment-button value="favorites">
      Favorites
    </ion-segment-button>
  </ion-segment>

  <roomssearch-page></roomssearch-page>

  <div [ngSwitch]="chatrooms">
    <ion-list *ngSwitchCase="'clubs'">
      <rooms-page></rooms-page>
    </ion-list>

    <ion-list *ngSwitchCase="'countries'">
      <countries></countries>
    </ion-list>

    <ion-list *ngSwitchCase="'favorites'">
      <ion-spinner *ngIf="!isComplete"></ion-spinner>
      <ion-item *ngIf="clubLength <= 0 && isComplete && isEmpty" class="noResultItem">
        <h2 class="noResult">No favorite teams yet.</h2>
      </ion-item>
      <ion-item *ngFor="let club of clubs">
          <button ion-item  (click)="GroupChatPage(club)" no-lines detail-none class="btn1">
              <ion-avatar item-start>
                <img src="http://placehold.it/50x50">
              </ion-avatar>
              <h2 class="roomName" text-wrap>{{club}}</h2>
          </button>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
