
<ion-header>
  <ion-navbar>
    <ion-buttons left class="backBtn">
      <button ion-button icon-only (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-row>
      <ion-col col-2 class="avatarCol">
        <ion-avatar item-start class="avatar">
          <img class="userImg" src="http://res.cloudinary.com/soccerkik/image/upload/v{{receiverName.friendId.imageVersion}}/{{receiverName.friendId.userImage}}">
        </ion-avatar>
      </ion-col>
      
      <ion-col col-10 class="nameCol">
        <ion-title class="titleCol" (click)="viewProfile(receiverName.name)">
          <h2 class="userTitle">
            {{receiverName.name}}
            <p *ngIf="isOnline && receiverName.name && !typing" class="online">
              Online
            </p>
            <p  *ngIf="typing" class="online">{{receiverName.name}} is typing...</p>
          </h2>
        </ion-title>
      </ion-col>
        
    </ion-row>

  </ion-navbar>

</ion-header>


<ion-content style="margin-top:10px; margin-bottom: 10px">
  <div class="message-wrapper" *ngFor="let message of msgArray">

      <div *ngIf="senderName.username !== receiverName.name && senderName.username !== message.sendername" class="left">
        <div class="chat-bubble left slide-left" *ngIf="message.sendername">
          <div *ngIf="message.body" class="message" [innerHTML]="message.body" autolinker></div>
          <img *ngIf="message.imageId && message.sendername" src="http://res.cloudinary.com/soccerkik/image/upload/v{{message.imageVersion}}/{{message.imageId}}">
        </div>
      </div>
  
      <div *ngIf="senderName.username === message.sendername" class="right">
        <div class="chat-bubble right slide-right" *ngIf="message.sendername" (click)="viewProfile(message.name)">
          <div *ngIf="message.body" class="message" [innerHTML]="message.body" autolinker></div>
          <img *ngIf="message.imageId && message.sendername" src="http://res.cloudinary.com/soccerkik/image/upload/v{{message.imageVersion}}/{{message.imageId}}">
        </div>
      </div>
  
  
  
      <div *ngIf="senderName.username !== receiverName.name && senderName.username !== message.sender" class="left">
        <div class="chat-bubble left slide-left" *ngIf="message.sender">
          <div *ngIf="message.text && message.sender && isAdded" class="message" [innerHTML]="message.text" autolinker></div>
          <img *ngIf="message.image && message.sender" class="imgMsg" [src]="message.image" imageViewer >
        </div>
      </div>
  
      <div *ngIf="senderName.username === message.sender" class="right">
        <div class="chat-bubble right slide-right" *ngIf="message.sender">
          <div *ngIf="message.text && message.sender && isAdded" class="message" [innerHTML]="message.text" autolinker></div>
          <img *ngIf="message.image && message.sender" class="imgMsg" [src]="message.image" imageViewer >
        </div>
      </div>
  
      <div class="cf"></div>
  
  
  </div>



</ion-content>



<ion-footer no-border react-to-keyboard>
    <ion-item class="inputToolbar">
      <ion-input id="msgInput" [(ngModel)]="message" placeholder="Send a message..." (keypress)="isTyping()"></ion-input>
      <button class="imgBtn" ion-button clear item-end (click)="addImage()">
        <ion-icon name="image"></ion-icon>
      </button>

      <div 
        class="emoji-content-editable"
        (emojiPickerCaretEmitter)="handleCurrentCaret($event)"
        (input)="content = $event.target.textContent"
        [textContent]="content"
        contenteditable="true">
      </div>

      <button class="emojiBtn" ion-button clear item-end
        (click)="toggleFunction()">
        😄
      </button>


      <button class="msgBtn" ion-button clear item-end (click)="PrivateMessage()">
        <ion-icon class="footer-btn" name="send"></ion-icon>
      </button>
      
    </ion-item>

    <div>
        <button ion-button clear item-end
        class="emoji-toggle-button imgBtn"
        [(emojiPickerIf)]="toggled"
        [emojiPickerDirection]="direction"
        (emojiPickerSelect)="handleSelection($event)"></button>
    </div>

</ion-footer>
