<ion-header>

  <ion-navbar>
    <ion-title>NearBy Users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <!-- <ion-grid>
    <ion-row  justify-content-start>
        <ion-col col-6 width-50 *ngFor="let user of nearByArray">
            <button (click)="userProfile(user)">
              <img src="http://placehold.it/150x150">
              <span>
                  {{user.username}} {{distance(userData.coords.latitude, userData.coords.longitude, user.coords.latitude, user.coords.longitude)}} miles
              </span>
            </button>
        </ion-col>
    </ion-row>
  </ion-grid> -->

  <div class="pins">
    <ion-card class="pin" *ngFor="let user of nearByArray">
      <button (click)="userProfile(user)">
        <img src="http://placehold.it/150x150">
        <ion-item>
          <small>{{user.username}}</small>
          <p><small>{{distance(userData.coords.latitude, userData.coords.longitude, user.coords.latitude, user.coords.longitude)}} miles</small></p>
        </ion-item>
      </button>
    </ion-card>
  </div>

</ion-content>
