<ion-header>
  <ion-navbar>
    <ion-title>{{userData.username}}</ion-title>

    <button ion-button icon-only (click)="presentPopover($event, userData.username)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <img src="http://placehold.it/10x10"  style="width:100%; margin: auto;"/>
  
        <ion-list *ngIf="fullname">
          <ion-label color="primary" stacked>Fullname</ion-label>
          <p>{{fullname}}</p>
        </ion-list>
  
        <ion-list *ngIf="country">
          <ion-label color="primary" stacked>Country</ion-label>
          <p>{{country}}</p>
        </ion-list>
  
        <ion-list *ngIf="club">
          <ion-label color="primary" stacked>Club Supported</ion-label>
          <p>{{club}}</p>
        </ion-list>
  
        <ion-list *ngIf="mantra">
          <ion-label color="primary" stacked>Mantra</ion-label>
          <p>{{mantra}}</p>
        </ion-list>
  
        <ion-label color="primary" stacked>Favorites</ion-label>
        <ion-list>
          <button ion-item (click)="showClubs()">Favorite Clubs</button>
        </ion-list>
        <ion-list>
          <button ion-item (click)="showPlayers()">Favorite Players</button>
        </ion-list>
        <ion-list>
          <button ion-item (click)="showTeams()">Favorite national teams</button>
        </ion-list>
    </ion-list>
</ion-content>
