<ion-menu [content]="content" side="left">
    <ion-header>
        <ion-toolbar>
        <ion-title>Country Fans ({{countryRoomUsers.length}})</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content padding>
        <ion-list padding-horizontal>
            <ion-item *ngFor="let user of countryRoomUsers">
                <ion-avatar item-left>
                    <img src="http://res.cloudinary.com/soccerkik/image/upload/v{{user.userdata.imageVersion}}/{{user.userdata.userImage}}">
                </ion-avatar>
                <h2 class="senderName" *ngIf="username !== user.name">
                    <button menuClose ion-button clear (click)="displayAlert(user)">
                        {{user.name}} &nbsp;
                        <span *ngFor="let userdata of userData.friends">
                            <p *ngIf="checkIfFriends(userdata, user.name)" class="friend">(Friends)</p>
                        </span>
                    </button>
                </h2>

                <h2 class="senderName" *ngIf="username === user.name">
                    <button menuClose ion-button clear >
                        {{user.name}} &nbsp;
                        <p class="friend">(You)</p>
                    </button>
                </h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu [content]="content" side="right" id="rightSide">
    <ion-header>
        <ion-toolbar>
        <ion-title>Online Fans ({{roomUsers.length}})</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content padding>
        <ion-list padding-horizontal>
            <ion-item *ngFor="let user of roomUsers">
                <ion-avatar item-left>
                    <img src="http://res.cloudinary.com/soccerkik/image/upload/v{{user.userdata.imageVersion}}/{{user.userdata.userImage}}">
                </ion-avatar>
                <h2 class="senderName" *ngIf="username !== user.name">
                    <button menuClose ion-button clear (click)="showAlert(user)">
                        {{user.name}} &nbsp;
                        <span *ngFor="let userdata of userData.friends">
                            <p *ngIf="checkIfFriends(userdata, user.name)" class="friend">(Friends)</p>
                        </span>
                    </button>

                </h2>
                <h2 class="senderName" *ngIf="username === user.name">
                    <button menuClose ion-button clear >
                        {{user.name}} &nbsp;
                        <p class="friend">(You)</p>
                    </button>
                </h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>



<ion-nav [root]="rootPage" [class.animateApp]="animateVarible==true" #content swipeBackEnabled="false"></ion-nav>