page-blockedusers {
    .noResultItem{
        background: #fff;
        position:absolute;
        color:#fff;
        top:40%;
        left:50%;
        padding:15px;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        height: 100px;
    }

    .noResult{
        color: #4aa1f3 !important;
        text-align: center;
    }

    ion-header{
        .title-md{
            margin: 0 auto !important;
            text-align: center !important;
            padding-left: 10px !important;
        }
    }

    ion-content{
        margin: 15px !important;
    }

    
}
