<ion-header class="pro_header">
  <ion-navbar>
    <ion-title>Blocked Users</ion-title>
  </ion-navbar>

</ion-header>


<!-- <ion-content padding>
  <ion-list>
    <ion-item *ngFor="let blocked of blockedUsers">
      <h2 *ngIf="blockedUsers.length > 0">{{blocked}}</h2>
    </ion-item>
    <ion-item class="noResultItem" *ngIf="noUser">
      <h2 *ngIf="noUser" class="noResult">No blocked users in your list</h2>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content style="padding-left:20px !important" padding>
  <ion-list class="appList">
    <ion-item *ngFor="let blocked of blockedUsers">
      <h5 ion-text color="primary" *ngIf="blockedUsers.length > 0">{{blocked}}</h5>
    </ion-item>

    <ion-item class="noResultItem" *ngIf="noUser">
      <h2 *ngIf="noUser" class="noResult">No blocked users in your list</h2>
    </ion-item>
  </ion-list>
</ion-content>
