countries {
    .roomName {
        color: #4aa1f3 !important;
        margin: 0px !important;
    }

    .favBtn {
        color: #4aa1f3 !important;
        margin-top: 35px !important;
    }

    .fanslength{
        color: color($colors, graycolor);
        margin-top: 8px !important;
    }

    .btn1{
        width: auto !important;
    }
}
