<div padding-horizontal>
    <ion-list class="all_list" >
        <ion-item *ngFor="let country of countriesArray" >
            <ion-avatar item-left>
                <img src="http://res.cloudinary.com/ratingapp/image/upload/v1526834777/{{country.image}}">
            </ion-avatar>
            <button (click)="CountryChatPage(country)" style="background: white">
                <ion-grid>
                    <ion-row>
                    <ion-col col>
                        <h5 ion-text color="primary">{{country.name}}</h5>
                    </ion-col>
                    <ion-col col-auto>
                        <span margin-left ion-text color="dark">
                            <ion-icon name="person"></ion-icon>
                            {{country.fans.length}}
                        </span>
                    </ion-col>
                    </ion-row>
                </ion-grid>
            </button>
            <p ion-text color="dark" style="margin-top:5px;" (click)="addToFavorite(country)">
                <ion-icon name="add"></ion-icon>&nbsp;Add
            </p>
        </ion-item>
    </ion-list>
</div>
      
      
      