<!-- <ion-header no-border></ion-header> -->


<ion-content class="content">
    <ion-segment [(ngModel)]="stream" no-border>
      <ion-segment-button value="now" isActive="true">
        Now
      </ion-segment-button>
      <ion-segment-button value="top">
        Top
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="stream">
      <ion-list *ngSwitchCase="'now'" >
        <ion-spinner *ngIf="!isComplete"></ion-spinner>
        <ion-item *ngIf="isEmpty && isComplete && !isUserImg" class="noResultItem">
          <h2 class="noResult">No streams today yet.</h2>
        </ion-item>
        <ion-item *ngFor="let stream of streamArray" class="content-item1">
            <ion-card class="content-card1" *ngIf="isComplete">
              <ion-item class="cardItem">
                <ion-avatar class="ionAvatar" item-start *ngIf="isUser === stream.username">
                  <img class="userImg" src="{{userimg}}">
                </ion-avatar>
                <ion-avatar class="ionAvatar" item-start *ngIf="stream.user.imageVersion && stream.user.userImage && isUser !== stream.user.username">
                  <img class="userImg" src="http://res.cloudinary.com/soccerkik/image/upload/v{{stream.user.imageVersion}}/{{stream.user.userImage}}">
                </ion-avatar>
                <h2 class="username" ion-button clear (click)="viewProfile(stream.username || stream.user.username)">
                    {{ stream.username || stream.user.username }}
                </h2>
                <p class="postTime">{{GetPostTime(stream.created)}}</p>
                <p text-wrap class="postCity" *ngIf="stream.user.city && stream.user.country"> @ {{ stream.user.city}}, {{ stream.user.country}}</p>
              </ion-item>

              <!-- <div style="width: 100%;" *ngIf="stream.post === post">
                <img class="postImage" width="100%" height="250" src="{{image}}">
              </div> -->
              
              <div style="width: 100%;" *ngIf="stream.imageId" >
                <img class="postImage" width="100%" height="250" (click)="viewImage(stream.imageVersion, stream.imageId)" src="http://res.cloudinary.com/soccerkik/image/upload/v{{stream.imageVersion}}/{{stream.imageId}}">
              </div>
            
              <ion-card-content>
                <p text-wrap class="post">{{ stream.post}}</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="likeComment(stream)">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>{{numberFormatter(stream.likes || postLength, 1)}}</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small (click)="addComment(stream)">
                    <ion-icon name="text"></ion-icon>
                    <div>{{numberFormatter(stream.comment.length, 1)}}</div>
                  </button>
                </ion-col>
              </ion-row>
            
            </ion-card>
        </ion-item>

      </ion-list>

      <ion-list *ngSwitchCase="'top'">
        <ion-spinner *ngIf="!isComplete"></ion-spinner>
        <ion-item *ngIf="isComplete && topPostArray.length <= 0 " class="noResultItem">
          <h2 class="noResult">No top streams at the moment</h2>
        </ion-item>
        
        <ion-item *ngFor="let top of topPostArray" class="content-item1">
            <ion-card class="content-card1" *ngIf="isComplete">
              <ion-item class="cardItem">
                <ion-avatar class="ionAvatar" item-start>
                    <img class="userImg" src="http://res.cloudinary.com/soccerkik/image/upload/v{{top.user.imageVersion}}/{{top.user.userImage}}">
                </ion-avatar>
                <h2 class="username" ion-button clear (click)="viewProfile(top.username)">
                  {{ top.username }}
                </h2>
                <p class="postTime">{{GetPostTime(top.created)}}</p>
                <p text-wrap class="postCity" *ngIf="top.user.city && top.user.country"> @{{ top.user.city}}, {{ top.user.country}}</p>
              </ion-item>
            
              <div style="width: 100%;" *ngIf="top.post === post">
                <img class="postImage" width="100%" height="250" src="{{image}}">
              </div>
              
              <div style="width: 100%;" *ngIf="top.imageId" >
                <img class="postImage" width="100%" height="250" (click)="viewImage(top.imageVersion, top.imageId)" src="http://res.cloudinary.com/soccerkik/image/upload/v{{top.imageVersion}}/{{top.imageId}}">
              </div>
            
              <ion-card-content>
                <p text-wrap class="post">{{ top.post}}</p>
              </ion-card-content>
            
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="likeComment(top)">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>{{top.likes}}</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small (click)="addComment(top)">
                    <ion-icon name="text"></ion-icon>
                    <div>{{top.comment.length }}</div>
                  </button>
                </ion-col>
              </ion-row>
            
            </ion-card>
        </ion-item>
      </ion-list>

    </div>
    <ion-fab right bottom fixed>
      <button ion-fab (click)="showModal()">
          <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>


