<form (ngSubmit)="interestSubmit()">
    <ion-item>
      <ion-label color="primary" stacked>Favorite Clubs (Select Multiple)</ion-label>
      <ion-select [(ngModel)]="clubs" multiple="true" [ngModelOptions]="{standalone: true}">
        <ion-option *ngFor="let room of rooms" [value]="room.name">{{room.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Favorite Players</ion-label>
      <ion-input type="text" [(ngModel)]="players" name="players" value=""></ion-input>
    </ion-item>
    <ion-item *ngFor="let player of userPlayers" class="playerItem">
      <span class="playerSpan">
          <p>
            {{player}} 
            <button ion-button color="danger" class="deleteBtn" 
            item-end clear (click)="deletePlayer(player)">
              Delete
            </button>
          </p>
      </span>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Favorite National Teams</ion-label>
      <ion-select [(ngModel)]="teams" multiple="true" [ngModelOptions]="{standalone: true}">
        <ion-option *ngFor="let team of teamsArray" [value]="team.name">{{team.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngFor="let team of userTeams" class="playerItem">
        <span class="playerSpan">
          <p>
            {{team}} 
            <button ion-button color="danger" class="deleteBtn" 
            item-end clear (click)="deleteTeam(team)">
              Delete
            </button>
          </p>
      </span>
    </ion-item>
    
    <ion-item>
        <button ion-button block color="bluecolor">Save Interests</button>
    </ion-item>
</form>